# Ignore the virtual environment directory
venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Ignore .env files (if you use environment variables)
.env

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore other potential files
*.log
*.sqlite3
